/* HTML Elements */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DCBFFF;
}

/* Container */
.container{
    background-color: beige;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 5% auto;
    padding: 50px;
    width: fit-content;
}

/* Heading */
h1{
    color: #FF78C4;
    font-size: 40px;
    text-align: center;
}


/* Input Panel */
#inputSpace{
    border: none;
    border-radius: 32px;
    font-size: 18px;
    padding: 16px;
    width: 400px;
}

#addBtn {
    background-color: #D0A2F7;
    border: none;
    border-radius: 32px;
    color: beige;
    font-weight: 600;
    padding: 16px 32px;
}


/* Task List */
#taskList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Task */
.task{
    align-items: center;
    display: flex;
    font-size: 20px;
    /* gap: 16px; */
}

.taskContent {
    padding: 0 16px;
    width: 400px;
}

.linethrough{
    text-decoration: line-through;
}

#checkBtn{
    align-items: center;
    background-color: white;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 28px;
    justify-content: center;
    width: 28px;
}

.checked{
    background-color:#DCBFFF !important;
}

#deleteBtn {
    color: red;
    font-size: 28px;
    padding: 10px;
}



/* Footer */
footer { 
    text-align: center;
}